.card {
  color: rgb(40, 40, 40);
  font-size: 14px;
  letter-spacing: 1px;
  width: 220px;
}

.borderingame {
  border: solid 2px rgb(6, 74, 9);
}

.borderonline {
  border: solid 2px rgb(0, 153, 255);
}

.borderoffline {
  border: solid 2px rgb(58, 58, 58);
}

.cardingame {
  background-image: linear-gradient(to left bottom, #90ba3c, #67c874, #8fc590, #a8bda9, #b4b4b4);
}

.cardonline {
  background-image: linear-gradient(to left bottom, #27abc0, #67abc8, #8fabc5, #a8aebd, #b4b4b4);
}

.cardoffline {
  background-image: linear-gradient(to left bottom, #414141, #616161, #828282, #a5a5a5, #cacaca);
}

.textoverflow {
  width: 210px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.status {
  font-weight: bold;
  color: white;
  padding-block: 5px;
  letter-spacing: 2px;
  z-index: 2;
  opacity: 0.85;
}

.cardbody{
  padding: 10px !important;
  padding-top: 0 !important;
}

.statusingame {
  background-color: #1a4519;
}

.statusonline {
  background-color: #5c84b3;
}

.statusoffline {
  background-color: #4e4e4e;
}

.title {
  color: black;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}
