:root {
  --primaryColor: #3e587c;
  --lightColor: #a5c5f1;
  --darkColor: #23446d;
  --box: linear-gradient(to left, #2e4e76, #3e587c);
  --border: solid 1px var(--lightColor);
}

body {
  letter-spacing: 0.03rem;
  background: linear-gradient(75deg, #485d78 0%, #2b476a 100%) fixed;
}

.container-fluid {
  color: white;
}

header {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #0a1522;
  bottom: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.76);
}

a:hover {
  color: white;
}

@media only screen and (max-width: 1499px) {
}

/* .row {
  border: solid 1px black !important;
}

.col {
  border: solid 1px red !important;
} */
