/* Main header styles */
.profileDropDown {
  all: initial;
  color: white;
}

.profileDropDown::after {
  content: none;
}

.profileDropDown:hover {
  all: initial;
}

.profileDropDown:active {
  all: initial !important;
}

.profileBtnMobileAlign {
  justify-content: end;
}

.link{
  color: rgb(209, 209, 209);
}

.link:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navbar {
  padding: 0;
  background-color: rgba(45, 30, 69, 0.75) !important;
  border-bottom: solid 1px rgb(0, 0, 0);
}

.navLinksAlignment {
  align-items: center;
  width: 100%;
}

.profileLinks {
  display: none;
}

.toggleIcon {
  color: blue !important;
  background-color: white;
}

.linkTransform:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

@media only screen and (max-width: 990px) {
  .navLinksAlignment {
    align-items: unset;
    margin-top: 5px;
  }

  .profileBtnMobileAlign {
    justify-content: start;
  }

  .profileDropDownMobileHide {
    display: none;
  }

  .profileLinks {
    display: inline;
  }

  .notLoggedBtns {
    flex-direction: column;
  }
}
