/* Main header styles */
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkColor);
  padding: 5px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.topHeaderBtn{
  text-decoration: none;
  margin-left: 20px;
}

/* Logo and text link */
.logoBox{
  display: flex;
  align-items: center;
  justify-content: center;
}

#textLink{
  text-decoration: none;
  color: white;
}

/* Dashboard style */
#dashboardLink{
  text-decoration: none;
  margin-right: 130px;
  color: rgba(255, 255, 255, 0.76);
}

#dashboardLink:hover{
  color: rgb(255, 255, 255);
}


/* Login and signup box styles */
.logContainer{
  display: flex;
  align-items: center;
}

#signUp{
  background-color: var(--lightColor);
  color: white;
  padding: .5em .8em;
  border-radius:20px;
}

#signUp:hover{
  background-color: var(--primaryColor);
}

#logIn{
  color: rgba(255, 255, 255, 0.76);
}

#logIn:hover{
  color: white  ;
}




