.passwordValidation {
  color: white;
}

.submit {
  background-color: var(--lightColor);
  color: white;
  padding: 0.5em 0.8em;
  border-radius: 20px;
  border: 0px;
}

.submit:hover {
  background-color: var(--darkColor);
}

.addon {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.input {
  background-color: white;
  padding: 0.5em 0.8em;
  border-radius: 20px;
}

.formGroup {
  background-color: var(--primaryColor);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.input2fa {
  width: 45px;
  height: 45px;
  font-size: 24px;
  text-align: center;
  margin: 5px;
  text-transform: uppercase;
  color: #494949;
  border: 1px solid #00b7ff;
  border-radius: 4px;
  background: #ffff;
}
