.validation {
  color: white;
  margin: 10px 0;
}

.topHeaderBtn {
  margin-left: 30px;
  cursor: pointer;
}

.topHeaderBtn:hover {
  color: var(--lightColor);
}

.inputValidation {
  margin: 5px 0;
}
