:root {
  --primaryColor: #4e6a92;
  --lightColor: #8daad7;
  --darkColor: #2e4f76;
  --box: linear-gradient(to left, #2e4e76, #4e6a92);
  --border: solid 1px var(--lightColor);
}

/* General */
/* html,
body {
  color: white !important;
  letter-spacing: 0.03rem;
  background: url(/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
} */

html,
body {
  color: white !important;
  letter-spacing: 0.03rem;
  background: rgb(46, 46, 156);
  background: linear-gradient(75deg, rgb(21, 21, 71) 0%, rgb(73, 53, 124) 100%);
}

main {
  padding-top: 20px;
  height: calc(100vh - 120px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border: solid 2px var(--darkColor);
  border-radius: 5px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

hr {
  border: var(--border);
  background-color: var(--lightColor);
}

.ant-modal-header {
  background: var(--box);
  border-bottom: var(--border);
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.ant-modal-close-icon,
.ant-modal-title {
  color: white;
}

.ant-modal{
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.ant-modal-content {
  background: var(--box);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.ant-alert {
  margin-bottom: 10px;
}

.ant-btn-primary {
  border: none;
  width: 100%;
  background: linear-gradient(25deg, rgba(46, 46, 156, 1) 0%, rgb(77, 39, 172) 100%);
}

.ant-btn-primary:hover {
  background: linear-gradient(25deg, rgb(77, 39, 172) 0%, rgba(46, 46, 156, 1) 100%);
}

.ant-modal-body, .ant-form{
  width: 100%;
}
