.topHeader {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: var(--darkColor);
  padding: 5px 30px;
}

.bottomHeader {
  background-color: var(--primaryColor);
  padding: 5px 30px;
}

.logoBox {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
